.archive-row-actions {
	margin-bottom: 10px;
}

.archive-result-count {
	color: #7e7e7e;
	margin: 0 0 20px;

	.count {
		font-weight: 500;
		color: #333;
	}
}

.archive-form-filtering {
	text-align: right;
	margin: 0 0 20px;

	.maxcoach-fake-select-wrap {
		width: 262px;
	}
}
