.page-content {
	.widget-title {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.widget {
		+ .widget {
			margin: 45px 0 0;
		}
	}
}

.page-sidebar {
	.page-sidebar-inner {
		height: 100%;
	}
}

.widget {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		+ li {
			margin-top: 9px;
		}
	}
}

.insight-core-bmw,
.widget_nav_menu,
.widget_pages,
.widget_categories,
.widget_product_categories {
	ul {
		ul {
			margin-left: 10px;
		}
	}
}

.insight-core-bmw,
.widget_nav_menu {
	a:empty {
		display: none;
	}

	.sub-menu {
		margin-top: 14px;
	}
}

.page-sidebar {
	.insight-core-bmw {
		padding: 0;
		border: 0;

		li {
			margin-top: 0;

			+ li {
				margin-top: -1px;
			}

			> a {
				position: relative;
				display: block;
				padding: 16px 40px;
				border: 1px solid #eee;

				&:before {
					@extend %NormalTransition;
					@extend %FontAwesomeSolid;
					content: '\f111';
					font-size: 6px;
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					left: 16px;
					color: #ababab;
				}
			}

			&:hover,
			&.current-menu-item {
				a {
					color: #fff;

					&:before {
						color: #fff;
					}
				}
			}
		}
	}
}

.widget_pages,
.widget_categories,
.widget_product_categories {
	.children {
		margin-top: 14px;
	}
}

.widget_recent_comments {
	.comment-author-link {
		position: relative;
		padding-left: 24px;

		&:before {
			@extend %FontAwesomeLight;
			content: '\f27a';
			font-size: 14px;
			line-height: 0;
			position: absolute;
			top: 9px;
			left: 0;
		}
	}
}

.widget_recent_entries {

	.widget-title {
		margin-bottom: 9px;
	}

	li {
		margin: 0 !important;

		a {
			display: block;
			position: relative;
			font-size: 18px;
			font-weight: 700;
			line-height: 1.78;
			padding: 16px 0 15px 30px;
			color: #696969;

			&:before,
			&:after {
				@extend %FontAwesomeSolid;
				@extend %NormalTransition;
				content: '\f30b';
				position: absolute;
				top: 24px;
				left: 0;
				font-size: 15px;
			}

			&:after {
				opacity: 0;
				visibility: hidden;
				transform: translateX(-100%);
			}

			&:hover {
				&:before {
					opacity: 0;
					visibility: hidden;
					transform: translateX(100%);
				}

				&:after {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
				}
			}
		}

		+ li {
			border-top: 1px solid #eee;
		}
	}

	.post-date {
		position: relative;
		display: block;
		font-size: 15px;
		font-weight: 500;
		padding-left: 25px;
		margin-top: 17px;

		&:before {
			@extend %FontAwesomeLight;
			font-size: 16px;
			content: '\f073';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
		}
	}
}

@include media-breakpoint-down(md) {
	.page-content {
		.widget {
			+ .widget {
				margin: 30px 0 0;
			}
		}
	}
}
